input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select {
    min-width: 315px;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.error {
    color: red;
    font-size: 0.9em;
    text-align: center;
}

.container{
    width: fit-content;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.submitbutton{
    text-align: center;
}