.container {
  width: 350px;
  /* margin: 20px auto; */
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form_main{
  display: flex;
  justify-content: space-around;
}
input {
  padding: 8px;
  font-size: 14px;
}

.error {
  color: red;
  margin: 0;
  font-size: 12px;
}



.checkbox {
  margin-left: 0;
  /* brings it to the left */
}


.cb {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  /* aligns only checkbox to left */
  gap: 6px;
}

.inline{
  display: inline;
}
.tag_value{
  display: flex;
      flex-direction: column;
          justify-content: space-between;
      gap: 5px;
}
.data .container{
  flex-direction: row;
  background-color: antiquewhite;
  padding: 5px;
}
table{
  width: 100%;
}
td{
  font-size: 18px;
  color: black;
}