<!-- <p>profile works!</p>


<h2>User Profile</h2>

<p>Current Name: {{ username }}</p> --><!-- Interpolation -->

<!-- <input type="text" [(ngModel)]="username" /> --><!-- optional two-way binding -->

<!-- <p>Updated Name: {{ displayName }}</p>

<button type=""  [disabled]="isEditDisabled" (click)="updateName()">  -->    <!-- Property binding disabled--><!-- Event binding click-->
  <!-- Save Name
</button>   -->


<div class="container">

  <h2>User Profile Form</h2>

  <!-- Username Field -->
  <label>Username</label>
  <input type="text"
         [(ngModel)]="username"
         (keyup)="validateUsername()"
         placeholder="Enter username" />

  <!-- Username Error Message -->
  <p class="error" *ngIf="usernameError">{{ usernameError }}</p>  <!--shows or hides the error message depending on whether usernameError is true or false-->


  <!-- Email Field -->
  <label>Email</label>
  <input type="email"
         [(ngModel)]="email"
         (keyup)="validateEmail()"
         placeholder="Enter email" /> <!-- validateEmail will be called everytime user releases a key- keyup -->

  <!-- Email Error Message -->
  <p class="error" *ngIf="emailError">{{ emailError }}</p>


  <!-- Submit Button -->
  <button [disabled]="!isValid">Submit</button>

</div>
